<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="post" th:action="@{/admin/users/update/{id}(id=${user.id})}" th:object="${user}">

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>

    </br>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>

    </br>

    <label for="lastName">Last Name</label>
    <input th:field="*{lastName}" type="text" id="lastName"/>

    </br>

    <label for="age">Age</label>
    <input th:field="*{age}" type="text" id="age"/>

    </br>

    <label for="email">E-mail</label>
    <input th:field="*{email}" type="text" id="email"/>

    </br>
    <label for="role">Roles: </label>
    <th:block th:each="role: ${allRoles}">
        <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" id="role"/>
    </th:block>

    <input type="submit" value="Update"/>
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>